table {
	width: 100%;
}
tr {
	height: 3rem;
	text-align: left;
}

.scd {
	color: red;
    background-color: #FD0;
}
.t {
    display: inline-block;
    margin: 1rem 0.5rem;
    line-height: 2;
    width: 5rem;
    text-align: center;
	font-size: 3rem;
	font-weight: bold;
    border: solid 1px #000;
}
.b {
	font-size: 3rem;
	font-weight: bold;
}
.tdw {
	width: 10rem;
	text-align: right;
}
.ok {
    margin: 1rem;
    line-height: 2;
    text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
    border: solid 1px #000;
}
