
/*区块样式*/
.block{
	width: 76%;
	color: #222;
	padding: 3% 5% 3% 5%;
	margin: 5% 8% 3% 8%;
	background-color: rgba(200, 200, 200, 0.5);
	box-shadow: 0.5rem 0.5rem 0 #FF0, 0.75rem 0.75rem 0 #333;
	border-radius: 0.5rem;
}

/*字体样式*/
.head{
	width: 98%;
	margin: 1%;
	color: #000;
	text-align: center;
	font-family: "微软雅黑";
	font-weight: bolder;
	margin: 2% 0 3% 0;
	/*text-shadow: 0.2vw 0.2vw 0 #FF0, 0.4vw 0.4vw 0 #333;*/
	font-size: 4rem;
}
.title{
	text-align: left;
	margin-bottom: 5%;
	font-family: "微软雅黑";
	font-size: 2rem;
}
.subtitle{
	margin: 1% 0 2% 6%;
	font-size: 1.5rem;
}
.note{
	text-align: right;
	font-family: "微软雅黑";
	font-style: oblique;
	font-size: 1rem;
}

/*背景图片样式*/
.backimg{
	background-repeat: no-repeat;
	background-position: center center;
	background-clip: padding-box;
	border-radius: 0.5rem;

	/*保证div背景全部覆盖有图片，图片可超出div范围*/
	background-size: cover;

	/*保证图片不超出div范围*/
	/*background-size: contain;*/
}

/*样式微调*/
.top0 {
	margin-top: 0;
	padding-top: 0;
}
.bot0 {
	margin-bottom: 0;
	padding-bottom: 0;
}
